.container {
  display: flex;
  margin: 20px 0;
}
.image {
  margin-right: 20px;
  border-radius: 8px;
  object-fit: cover;
}
.info {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px;
  border-radius: 8px;
}
.title {
  font-size: 30px;
  font-weight: bold;
}
.text {
  border-bottom: 1px solid rgb(190, 190, 190);
  padding-bottom: 10px;
}

@media screen and (max-width: 639px) {
  .container {
    flex-direction: column;
  }
  .image {
    margin-right: 0px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
}
